<html>
  <body>
    <h3>Dear, <%= @username %></h3> 
    <p>
      Wishing you a many many happy returns of the day,
      Happy birthday :-)
      <br/><%= image_tag attachments['previewImage.jpg'].url %>
    </p>
  </body>
</html> 
